*{
    padding: 0;
    margin: 0;
}

body{

    display: flex;
    justify-content: center;
    align-content: center;

}

.monkey {
    margin-top: 25%;
    width: 512x;
    height: 512px;
}

.monkey:hover {
    cursor: pointer;
}


.footer {
    position: fixed;
    bottom: 0;
    padding: 20px 100px;
}

.footer a {
    text-decoration: none;
    color: grey;
}

.footer a:hover {
    text-decoration: underline;
}